.idea/**
.settings/*
.classpath
.project
*.iml
*.log
/target/**
mbc.js
mbc.min.js
*mbc.css
*mbc.mini.css
*min.css
npm-debug.log*
node_modules
mbc-single.js
mbc-single-min.js
mbc-single.css
mbc-single-min.css
*.css
*scrollable/
*tooltip/